<%= form_for @host_info, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :ip, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ip, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :domain, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :domain, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :status, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ping, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :ping, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :blacklisted, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :blacklisted, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :blacklisted_on, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :blacklisted_on, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :checked_at, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :checked_at, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  host_infos_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
