<h1>Listing banned_sites</h1>

<table>
  <thead>
    <tr>
      <th>Banned on</th>
      <th>Domain</th>
      <th>Reason</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @banned_sites.each do |banned_site| %>
      <tr>
        <td><%= banned_site.banned_on %></td>
        <td><%= banned_site.domain %></td>
        <td><%= banned_site.reason %></td>
        <td><%= link_to 'Show', banned_site %></td>
        <td><%= link_to 'Edit', edit_banned_site_path(banned_site) %></td>
        <td><%= link_to 'Destroy', banned_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banned site', new_banned_site_path %>
